<ol>
  <li><a href="/examples/image-slideshow-captions">Image gallery with captions</a></li>
  <li><a href="/examples/auto-show-start-stop-controls">Auto show with start / stop controls</a></li>
</ol>
