<%
html = <<-HTML
<div class="bxslider">
  <div><img src="https://picsum.photos/id/22/900/200"></div>
  <div><img src="https://picsum.photos/id/23/900/200"></div>
  <div><img src="https://picsum.photos/id/24/900/200"></div>
</div>
HTML

js = <<-JS
$('.bxslider').bxSlider({
  onSliderLoad: function(){
    // do funky JS stuff here
    alert('Slider has finished loading. Click OK to continue!');
  },
  onSlideAfter: function(){
    // do mind-blowing JS stuff here
    alert('A slide has finished transitioning. Bravo. Click OK to continue!');
  }
});
JS
%>

<%= render 'pages/examples/body',
    title: 'Callback API',
    html: html,
    js: js,
    description: 'Perform a slide transition to view the "onSlideAfter" callback.'
%>