<%
html = <<-HTML
<ul class="bxslider">
  <li><img src="https://picsum.photos/id/22/730/200"></li>
  <li><img src="https://picsum.photos/id/23/730/200"></li>
  <li><img src="https://picsum.photos/id/24/730/200"></li>
  <li><img src="https://picsum.photos/id/25/730/200"></li>
  <li><img src="https://picsum.photos/id/26/730/200"></li>
  <li><img src="https://picsum.photos/id/27/730/200"></li>
</ul>
HTML

js = <<-JS
  $('.bxslider').bxSlider({
    minSlides: 2,
    maxSlides: 2,
    slideWidth: 360,
    slideMargin: 10
  });
JS
%>

<%= render 'pages/examples/body',
    title: 'Carousel - static number of slides',
    html: html,
    js: js,
    text: 'This slider always displays no less than two slides (minSlides) and always displays no more than two slides (maxSlides). Therefore the carousel will always display two slides.'
%>