<%
html = <<-HTML
<ul class="bxslider">
  <li><img src="https://picsum.photos/id/22/170/200"></li>
  <li><img src="https://picsum.photos/id/23/170/200"></li>
  <li><img src="https://picsum.photos/id/24/170/200"></li>
  <li><img src="https://picsum.photos/id/25/170/200"></li>
  <li><img src="https://picsum.photos/id/26/170/200"></li>
  <li><img src="https://picsum.photos/id/27/170/200"></li>
  <li><img src="https://picsum.photos/id/28/170/200"></li>
  <li><img src="https://picsum.photos/id/29/170/200"></li>
</ul>
HTML

js = <<-JS
  $('.bxslider').bxSlider({
    minSlides: 3,
    maxSlides: 4,
    slideWidth: 170,
    slideMargin: 10
  });
JS
%>

<%= render 'pages/examples/body',
    title: 'Carousel - dynamic number of slides',
    html: html,
    js: js,
    text: 'This slider always displays no less than three slides (minSlides) and always displays no more than four slides (maxSlides). Therefore when the minSlides number (3) is reached the slides will be scaled down.'
%>