<%
html = <<-HTML
<div class="bxslider">
  <div><img src="#{asset_path('coffee1.jpg')}" title="Coffee 1" /></div>
  <div><img src="#{asset_path('coffee2.jpg')}" title="Coffee 2" /></div>
  <div><img src="#{asset_path('coffee3.jpg')}" title="Coffee 3" /></div>
</div>
HTML

js = <<-JS
  $(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      slideWidth: 600
    });
  });
JS
%>

<%= render 'pages/examples/body',
    title: 'Image gallery with captions',
    html: html,
    js: js
%>