<%
html = <<-HTML
<div class="bxslider">
  <div><img src="#{asset_path('coffee1.jpg')}" /></div>
  <div><img src="#{asset_path('coffee2.jpg')}" /></div>
  <div><img src="#{asset_path('coffee3.jpg')}" /></div>
</div>
HTML

js = <<-JS
$('.bxslider').bxSlider({
  infiniteLoop: false,
  hideControlOnEnd: true,
  slideWidth: 600
});
JS
%>

<%= render 'pages/examples/body',
    title: 'Custom next / prev control selectors',
    html: html,
    js: js
%>