<%
html = <<-HTML
<ul class="bxslider">
  <li><img src="https://picsum.photos/id/22/170/200"></li>
  <li><img src="https://picsum.photos/id/23/170/200"></li>
  <li><img src="https://picsum.photos/id/24/170/200"></li>
  <li><img src="https://picsum.photos/id/25/170/200"></li>
  <li><img src="https://picsum.photos/id/26/170/200"></li>
  <li><img src="https://picsum.photos/id/27/170/200"></li>
  <li><img src="https://picsum.photos/id/28/170/200"></li>
  <li><img src="https://picsum.photos/id/29/170/200"></li>
</ul>
HTML

js = <<-JS
$('.bxslider').bxSlider({
  minSlides: 4,
  maxSlides: 4,
  slideWidth: 170,
  slideMargin: 10,
  ticker: true,
  speed: 9000
});
JS
%>

<%= render 'pages/examples/body',
    title: 'Ticker mode',
    html: html,
    js: js,
    description: 'Note that in order to make the ticker appear slower, the speed value must be raised.'
%>