<%
html = <<-HTML
<div class="bxslider">
  <div><img src="https://picsum.photos/id/22/900/200"></div>
  <div><img src="https://picsum.photos/id/23/900/200"></div>
  <div><img src="https://picsum.photos/id/24/900/200"></div>
</div>
HTML

js = <<-JS
$('.bxslider').bxSlider({
  mode: 'vertical',
  slideMargin: 5
});
JS
%>

<%= render 'pages/examples/body',
    title: 'Vertical slideshow',
    html: html,
    js: js
%>