<div class="content">
  <div class="home__hero">
    <h1 class="home__title">Add a slider to any webpage.</h1>

    <div class="home__ctas">
      <div class="home__cta">
        <a href="https://sliderui.com" class="home__cta-link">
          ✨ Click here to create a slider without writing code ✨
        </a>
      </div>
    </div>
  </div>

  <div class="home__slider">
    <div class="bxslider">
      <div><%= image_tag 'plant.jpg' %></div>
      <div><%= image_tag 'daisies.jpg' %></div>
      <div><%= image_tag 'succulents.jpg' %></div>
    </div>
  </div>

  <div class="home__ads">
    <div class="home__ad">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYI527Y&placement=bxslidercom" id="_carbonads_js"></script>
    </div>

    <div class="home__paypal">
      <div class="paypal-button">
        <%= render 'layouts/paypal' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      slideWidth: 800
    });
  });
</script>
