<div class="home__hero">
  <h1 class="home__title">Add a slider to any webpage.</h1>

  <div class="home__cta">
    <a href="/install" class="button button--large">Click here to install</a>
  </div>
</div>

<div class="home__ads">
  <div class="home__ad">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYI527Y&placement=bxslidercom" id="_carbonads_js"></script>
  </div>

  <div class="home__paypal">
    <div class="paypal-button">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="R7JFCJATUQMBG">
      <input type="image" src="/assets/paypal-button.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>

  </div>
</div>

<div class="home__slider">
  <div class="bxslider">
    <div><img src="/assets/plant.jpg" /></div>
    <div><img src="/assets/daisies.jpg" /></div>
    <div><img src="/assets/succulents.jpg" /></div>
  </div>
</div>

<script>
  $(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      slideWidth: 800
    });
  });
</script>
