.content {
  margin-right: 60px;
  width: 100%;

  @media (max-width: $break-main) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  // Required so that `pre` elements do not force
  // flex layouts to overflow outside of the parent.
  min-width: 0;
}
