.header {
  background: $light-gray;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: $break-main) {
      display: block;
    }
  }

  &__logo {
    font-family: $logo-font-family;
    font-weight: 600;

    @media (max-width: $break-main) {
      margin-bottom: 10px;
    }

    a {
      font-size: 28px;
      color: $gray;

      @media (max-width: $break-main) {
        font-size: 30px;
      }
    }

    strong {
      color: $primary;
      font-weight: 600;
    }
  }
}
