.home {
  &__hero {
    // padding-bottom: 80px;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
    // border-bottom: solid 1px #eee;
  }

  &__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 26px;

    @media (max-width: $break-main) {
      font-size: 2.5em;
    }
  }

  &__ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin-bottom: 80px;
  }

  &__ad {
    width: 300px;
    margin-right: 50px;

    @media (max-width: $break-main) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__paypal  {
    max-width: 200px;
  }

  &__slider {
    margin-bottom: 100px;

    .bx-wrapper {
      margin: 0 auto;
    }

    img {
      max-width: 800px;
    }
  }

  &__ctas {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__cta-link {
    font-size: 24px;
  }
}
