$primary-font-family: 'Muli';
$secondary-font-family: 'Lato';
$logo-font-family: 'Lato';

$primary: #FF1654;
$gray: #50514F;
$light-gray: #f9f9f9;
$dark-gray: #333;
$blue: #5280dd;
$white: #ffffff;

$max-width: 1200px;
$break-main: 800px;
