<div class="modal" style="display: none;">
  <div class="modal-body">
    <h1>Would you mind disabling your adblocker?</h1>

    <div class="modal-content">
      <div>
        <p>
          The only way to keep bxSlider free is to show one tasteful ad per page.
          After disabling your adblocker please refresh the page and this message will not appear again.
        </p>

        <p>Thank you for your support 🤗</p>
      </div>

      <div>
        <div class="modal-image">
          <%= image_tag 'adblock-disable.jpg', class: 'modal-image' %>
        </div>
      </div>
    </div>

    <button class="modal-dismiss">No thanks.</button>
  </div>
</div>

<script>

</script>