<footer class="footer">
  <div class="footer__inner">

    <div class="footer__columns">
      <div class="footer__column">
        <div class="footer__column-row">
          <a href="http://sliderui.com">Slider Builder</a>
        </div>
        <div class="footer__column-row">
          <a href="http://css3buttongenerator.com">CSS Button Generator</a>
        </div>
      </div>
    </div>
  </div>
</footer>
