<div class="personal">
  <div class="personal__inner">
    <div class="personal__row">
      Coded with &hearts; by
    </div>

    <div class="personal__row personal__info">
      Steven Wanderski <a href="http://stevenwanderski.com" target="_blank">Chicago Web Developer</a>
    </div>

    <div class="personal__row">
      <a class="github-button" href="https://github.com/stevenwanderski/bxslider-4" data-size="large" data-show-count="true" aria-label="Star buttons/github-buttons on GitHub">Star</a>
    </div>
  </div>
</div>
